/* CSS Document */

/* CSS is structured as follows: 

selector {
    property: value;
    property: value;
    property: value;
}

Each selector is paired with and styles an element. For example:

html {} is paired with and styles <html>

*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #CCC;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-weight: normal;
    font-size: 3rem;/* 1 rem = 16 px */
}

p,
li {
    font-size: 1rem; /* K: this is redundant, but it shows that we can make special styles */
    line-height: 1.5rem;
    
}

h1 + p {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

strong {
    font-style: bold; /* K: this is also redundant because it was specified in html file, but it's still good to know */
}

em {
    font-style: italic;
}

hr {
    border: solid 4px #f00;
}

ul,
ol {
    background-color: #fff;
}

li {
    color: #f00;
}

ol li:first-child {
    background-color: #000;
}

ol li:last-child {
    background-color: #f90;
    
}